body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 2px;
  padding-bottom: 2px;
}

.title {
  background: #e3f4ff;
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px;
}

.content {
  background: #e3f4ff;
  padding: 15px 10px;
  margin: 10px;
  font-size: 15px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  padding: 5px;
}

button {
  text-align: center;
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  margin: 0 auto;
}